button.btn__primary {
	border: none;
	background: var(--primary);
	box-shadow: none;
	outline: none;
	border-radius: 24px;
	padding: 0px 36px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 48px;
	min-height: 48px;
	color: #fff;
	cursor: pointer;
	transition: all 0.4s ease;
}

button.btn__primary:focus,
button.btn__primary:disabled {
	background-color: var(--primary-focus);
	color: var(--primary-light);
	transition: all 0.4s ease;
}
