:root{
  	--main-bg-color: #F8FAFB;
	--secondary-dark: #1D2952;
	--secondary: #5D6D8F;
	--primary: #0CC1A7;
	--primary-focus: #0DD3B7;
	--primary-light: #9FEBCC;
	--primary-dark: #1C686E;
	--grey: #FAFAFA;
	--grey-1: #FAFCFD;
	--grey-3: #ECF2F4;
	--green-light: #D5EFEB;
	--quaternary: #F24C00;
}
