div.search__bar {
	width: 100%;
	position: relative;
}

input.search__bar-input {
	width: 100%;
	border: 2px solid #CCDBE0;
	border-radius: 12px;
	padding: 14px 16px 14px 50px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	background-color: var(--main-bg-color);
	transition: all 0.4s ease;
	color: var(--secondary);
}

input.search__bar-input:focus,
input.search__bar-input:hover {
	outline: none;
	border-color: #b7c5c9;
	transition: all 0.4s ease;
}

input::placeholder {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: var(--secondary);
}

img.search__bar-icon {
	position: absolute;
	top: 15px;
	left: 16px;
}
