div.profile__card {
	padding: 36px 38px 24px 38px;
	box-shadow: -4px 8px 50px rgba(93, 109, 143, 0.1);
	border-radius: 24px;
	background-color: var(--grey-1);
	margin-bottom: 54px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

div.profile__card:hover {
	box-shadow: -4px 8px 50px rgba(93, 109, 143, 0.15);
}

div.profile__card-left-side {
	display: flex;
	margin-right: 40px;
	flex-direction: column;
}

div.profile__card-media {
	margin-bottom: 24px;
}

div.profile__card-media img {
	border-radius: 50%;
	width: 128px;
	height: 128px;
}

div.profile__card-content {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-right: 24px;
}

@media (max-width: 800px) {
  	div.profile__card {
		padding: 24px 16px;
		justify-content: center;
		align-items: center;
    	flex-direction: column;
  	}
}
